<log4net>
  <logger name="NHibernate" additivity="false">
  </logger>
  <appender name="PapertrailDev" type="log4net.Appender.RemoteSyslogAppender">
    <encoding value="utf-8"/>
    <facility value="Local6" />
    <identity value="%date{yyyy-MM-ddTHH:mm:ss.ffffffzzz} app_dev %P{log4net:HostName} %X{correlation_id}"/>
    <layout type="log4net.Layout.PatternLayout" value="%level - %message%newline" />
    <remoteAddress value="logs.papertrailapp.com" />
    <remotePort value="0" />
  </appender>


  <appender name="PapertrailProd" type="log4net.Appender.RemoteSyslogAppender">
    <encoding value="utf-8"/>
    <facility value="Local6" />
    <identity value="%date{yyyy-MM-ddTHH:mm:ss.ffffffzzz} app %P{log4net:HostName} %X{correlation_id}"/>
    <layout type="log4net.Layout.PatternLayout" value="%level - %message%newline" />
    <remoteAddress value="logs.papertrailapp.com" />
    <remotePort value="0" />
  </appender>

  
  <!--<root>
    <level value="DEBUG" />
    <appender-ref ref="PapertrailProd" />
  </root>-->

  <!--<logger name="GestorDev">
    <level value="ALL" />
    <appender-ref ref="PapertrailDev" />
  </logger>

  <logger name="Gestor">
    <level value="ALL" />
    <appender-ref ref="PapertrailProd" />
  </logger>-->
</log4net>
